*.class
*.log
.idea/.gitignore
.idea/sbt.xml
src/main/webapp/
target/antrun/
target/bomberman-engine-sources.jar
target/bomberman-engine.jar
target/generated-sources/
target/maven-archiver/
target/maven-status/
